<div class="__container">

    <p style="color: white;">Solo usuarios con perfil(cargo) "Admin" pueden administrar los usuarios</p>
    {{{botonUsuarios}}}
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='/admin/modelos/listado'">MODELOS</button>

</div>