<div class="__container" style="margin-top 50px">

    <div class="row">
        <p style="color: white;" class="text-end">Hola {{persona}}! <button style="width:150px;" type="button" class="btn btn-danger" onclick="window.location.href='/admin/login/logout'">Cerrar sesión <i class='fas fa-sign-out-alt'></i></button> </p>
    </div>
</div>
