*{
    box-sizing:border-box ;
}

body{

    display: flex;
    flex-direction: column;
    background-image: url('../IMAGES/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
  }


/***************** NAV ***********************/

nav {
   
    
    display: flex;
    margin: 0;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    
}


.nav__left{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu:hover{
    text-decoration: underline;
    color: grey
}

.menu__logo{
   display: flex; 
  justify-content: center;
  align-items: center; 
  width: 65px;
  height: 65px; 
    
}

.logo{
    width: 55px;
    height: 55px;
    border-style: none;
    
}


.menu__logo:active{
    border: 3px  solid  #972738;
    border-radius: 100%;
  
}

.nav__right{
    display: flex;
    flex: 0.8;
    justify-content: flex-end;
    align-items: center;
}

nav > div > a{
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    text-align: center;
}

.menu{
    font-size: 14px;
    color: #f4f4f4;
    white-space: nowrap;
    line-height: 1em;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;

}



  
  /****************MAIN***********************/
  .contacto__container {
    height: 88vh;
    display: grid;
    place-items:  center;  
    
    
  }

  .tarjeta__contacto{
    background: rgba(28,31,42, 0.6);
    width: 600px;
    height: 350px;
    border-radius: 10px; 
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    justify-content:center;
  }

  .tarjeta__telefono{
    display: flex;
    align-items:center;
    gap: 10px
  }

  .tarjeta__telefono > img{
     width: 30px;
     height: 30px;
     background-color: transparent;
  }

  .tarjeta__ig{
    display: flex;
    align-items: center;
    gap: 10px
  }

  .tarjeta__ig > img{
    width: 30px;
     height: 30px;
  }

  /***************** FOOTER ***********************/


footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    font-size: 10px;
    flex: 0.1;
    
}
  



.background__gradient{
    flex: 0.9;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }