.__container {
    display: flex;
    flex-direction: column;
    background-image: url('/images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  

  
  
  .formulario {
    background: rgba(28, 31, 42, 0.9);
    width: 600px;
    height: 620px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
  
  }


  
  
  .h1 {
    text-align: center;
    margin-top: 10px;
  }
  

  
  
  .btn-light{
    border: none;
  }
  
  
  
  .btn_icon{
    width:30px;
   display: flex;
   justify-content: center;
   align-items: center;
  }
    
  
  
  /*********************************************************/
  /*********** usuarios.hbs*********************************/
  
  .list {
    background: rgba(28, 31, 42, 0.9);
    width: 600px;
    height: 800px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  .titulo {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*(row) alineacion horizontal | (column) alineacion vertical*/
    align-items: center;
    /*(row) alineacion vertical | (column) alineacion horizontal*/
  
  }
  .header{
    display: flex;
    flex-direction: row;
    background: rgba(186, 8, 22, 0.7);
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
  
  }
  
  .header h1{
    font-size: 18px;
  }
  
  
  .items{
    display: flex;
    flex-direction: column;
  
  }
  
  .item h3{
    font-size: 14px;
  }
  
  
  
  .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid white;
    
  }
  
  
  .pos{
    flex: 0.05;
    margin-left: 5px;
    max-width: 25px;
   
  }
  
  .usr{
    flex: 0.2;
    max-width: 90px;
  }
  
  .nomb{
    flex: 0.35;
    max-width: 182px;
  }
  
  .cargo{
    flex: 0.30;
    max-width: 155px;
  
  }
  
  .act{
    display: flex;
    gap: 8px;
    flex: 0.1;
    margin-right: 5px;
    margin-left: auto;
  }
  
  .cerrar_sesion{
    margin-top: auto;
    margin-left: auto;
  }
  h1, h3{
    margin: 0;
  }
