body{
    display: flex;
    justify-content: center;
}

.contenedor{
    border:  2px solid black;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; /*alinea sobre el eje principal (horizontal para filas)*/
    align-items: center; /*alinea sobre el eje secundario (vertical para filas)*/
}

#rojo{
    background-color: red; 
}

#verde{
    background-color: green;
}

#azul{
    background-color: blue; 
}

.cuadrado{
    width: 150px;
    height: 150px;
    color:white;
    text-align: center;
    line-height: 150px;
}